/* mobile & tablet */
@media (max-width: 1023px) {
    :root{
        --header-height:68px;
        --navbar-height:0px;
    }
    
        .hide-on-mobile-tablet{
            display: none;
        }
        .shop-title.mobile{
            display: none;
        }
    }
    /* tablet */
    @media (min-width:740px) and (max-width:1023px){
        :root{
            --header-height:68px;
            --navbar-height:0px;
        }
        
        .hide-on-tablet{
            display: none;
        }
        #banner{
            margin-bottom: 10px;
        }
        .banner{
            margin:2px 0;
        }
        .shop-title.mobile{
            display: block;
            padding-bottom: 10px;
        }
        .side-bar__filter {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .side-bar.open{
            display: block;
        }
        .side-bar {
            position: fixed;
            width: 78%;
            background-color: #ffffff;
            border-radius: 4px;
            z-index: 2;
            padding: 20px 15px;
            box-shadow: 0 0 20px rgb(233, 232, 232);
            display: none;
        }
       
    }
    @media(max-width:739px){
        :root{
            --header-height:54px;
            --navbar-height:0px;
        }
        
        .hide-on-mobile{
            display: none;
        }
        #container,#footer {
            margin-top: 10px;
            margin-bottom: 80px;
            padding: 0 15px;
        }
        .top-bar{
            height: auto;
            flex-direction: column;
        }
        .top-bar__heading, .top-bar__actions {
            flex-wrap: wrap;
        }
        .top-bar__heading-title{
            padding: 0;
        }
        .top-bar__heading-title:nth-child(1):before{
            display: none;
        }
        #main-bar {
            padding: 20px 20px;
            border-bottom: 0;
            flex-direction: column-reverse;
            align-items: center;
        }
        .main-bar__search,.main-bar__logo{
            order: 1;
            margin-bottom: 15px;
        }
        #bottom-bar {
            margin-bottom: 60px;
        }
        #bottom-bar.fixed{
            position: relative;
        }
        .bottom-bar__mobile {
            display: flex;
            background: #fff;
        }
        .bottom-bar__list {
            flex-direction: column;
            align-items: flex-start;
            width: 90%;
            position: absolute;
            margin-top: 52px;
            z-index: 2;
            background: #fff;
        }
        .bottom-bar__list-item {
            width: 100%;
            border-bottom: 1px solid #ccc;
        }
        .bottom-bar__list-item__link{
            padding: 15px 15px;
            text-transform: uppercase;
        }
        .bottom-bar__list{
            display: none;
        }
        #banner.owl-carousel .item img {
            height: auto;
        }
        .banner-owl {
            left: 0;
            width: 100%;
            top: auto;
            bottom: 30px;
            padding-left: 0;
            text-align: center;
        }
        .banner-owl__sub {
            font-size: 3rem;
            line-height: 3rem;
            margin-bottom: 10px;
        }
        .banner-owl__link{
            margin: 0;
        }
        #banner{
            margin-bottom: 10px;
        }
        .banner{
            margin:2px 0;
        }
        .img-banner {
            margin: 0px;
           
        }
        .shop-title.mobile{
            display: block;
            padding-bottom: 10px;
        }
        .side-bar__filter {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .side-bar.open{
            display: block;
        }
        .side-bar {
            position: absolute;
            bottom: -115px;
            width: 93%;
            height: 300px;
            background-color: #ffffff;
            overflow: auto;
            border-radius: 4px;
            z-index: 2;
            padding: 20px 15px;
            box-shadow: 0 0 20px rgb(233, 232, 232);
            display: none;
            
        }
        .shop-toolbar{
            flex-direction: column;
        }
        .shop-toolbar__sort {
            padding: 12px 0;
        }
        #footer .row {
            padding: 15px 0;
        }
        .footer-heading{
            margin-top: 25px;
            margin-bottom: 10px;
        }
        }